@{
    ViewBag.Title = "Площадь треугольника";
}
<form method="GET" action="">
    <table border="1">
        <tr>
            <td>Длина основании треугольника</td>
            <td><input type="text" name="a" /></td>
        </tr>
        <tr>
            <td>Высота треугольника</td>
            <td><input type="text" name="h" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Расчитать" /></td>
        </tr>
    </table>
</form>
@section Footer{
    <center>Все права защищены! 2016</center>
}
